<?xml version="1.0"?>
<config>
	<global>
		<modules>
			<Vplaza_Restapi>
		  		<version>0.1.0</version>
			</Vplaza_Restapi>
	  	</modules>
  </global>
  <frontend>
    <routers>
      <restapi>
        <use>standard</use>
          <args>
            <module>Vplaza_Restapi</module>
            <frontName>restapi</frontName>
          </args>
      </restapi>
    </routers>
		<!--<layout>
		  <updates>
			<restapi>
			  <file>restapi.xml</file>
			</restapi>
		  </updates>
		</layout>-->
  </frontend>
  <global>
    <helpers>
      <restapi>
        <class>Vplaza_Restapi_Helper</class>
      </restapi>
    </helpers>
	<blocks>
	  <restapi>
		<class>Vplaza_Restapi_Block</class>
	  </restapi>
	</blocks>
	<models>
	  <restapi>
		<class>Vplaza_Restapi_Model</class>
		<resourceModel>restapi_mysql4</resourceModel>
	  </restapi>
	</models>
  </global>
</config> 